{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": [ 2, "never" ],
  },
  "plugins": [
    "babel",
    "react"
  ]
}
